<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation targetFramework="4.0" />
  </system.web>
   
</configuration>
<!--ProjectGuid: 3BDD9020-586D-4044-8A53-B103B1B427C3-->